<form 
  id="config-form"
  method="POST"
  hx-post="/config" 
  hx-target="this"
  hx-swap="outerHTML" 
  hx-trigger="input change from:.trigger delay:500ms"
  hx-include=".partial">
    <label for="id_reference_directory">Reference directory:</label>
    <input 
        id="id_reference_directory"
        type="text" 
        class="trigger partial"
        name="reference_directory" 
        value="{{ config.reference_directory }}"
        >
    <label for="id_reference_language">Reference language:</label>
    <input 
        id="id_reference_language"
        type="text" 
        class="trigger partial"
        name="reference_language" 
        value="{{ config.reference_language }}"
        >
    <label for="id_translation_filepath">Translation filepath:</label>
    <input 
        id="id_translation_filepath"
        type="text" 
        class="trigger partial"
        name="translation_filepath" 
        value="{{ config.translation_filepath }}"
        >
    <label for="id_translation_language">Translation language:</label>
    <input 
        id="id_translation_language"
        type="text" 
        class="trigger partial"
        name="translation_language" 
        value="{{ config.translation_language }}"
        >
</form>