<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EU4 Translation Helper</title>
  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
  <div>
    <div id="config" hx-get="/config" hx-swap="innerHTML" hx-trigger="load"></div>
  </div>
  <div>
    <button hx-post="/reload_localisations" hx-swap="innerHTML" hx-target="#feedback">Load localisations</button>
  </div>
  <div>
    <button hx-post="/flush_translations" hx-swap="innerHTML" hx-target="#feedback">Flush translations</button>
  </div>
  <div id="feedback">
  </div>
</body>
</html>
